.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 60px;
    background-color: grey;
    position: sticky;
}

@font-face {
    font-family: "Futura";
    src: url("../Fonts/Futura.otf");
}

.logo {
    width: 47px;
    margin-left: 58px;
    margin-right: 20px;
}

.titrepage {
    font-family: "Futura";
    font-size: 20px;
}

.gauche {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -270px;
}

.droite {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsize {
    font-size: 25px;
}

.titreclic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 190px;
    transition: all 1s ease;
}

.titreclic:hover {
        background-color: #2f2e2e;
}

.menu-btn {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 1s ease;
    font-size: 15px;
}

.menu-btn:hover {
    background-color: #878581;
    color: black;
}

.act {
    background-color: white;
    color: black;
}
